{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1 class="cardTitle">Sign Up</h1>
<a href="/accounts/login/" class="greyLink" style="margin-bottom: 1.5em;">Login instead?</a>

<form class="sign" method="POST" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="fieldWrapper">
    {{ form.username_field.errors }}
    {{ form.username_field }}
    <p style="color: grey; padding: 0; margin: 0;">Username can be changed later</p>
  </div>
  <div class="fieldWrapper">
    {{ form.email.errors }}
    {{ form.email }}
  </div>
  <div class="fieldWrapper">
    {{ form.password1.errors }}
    {{ form.password1 }}
  </div>
  <div class="fieldWrapper">
    {{ form.password2.errors }}
    {{ form.password2 }}
  </div>
  {% for error in form.non_field_errors %}
    <p>{{ error }}</p>
  {% endfor %}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="formBottom">
    <span></span>
    <button type="submit">Create an account</button>
  </div>
</form>


<div class="OR-Line">
  <span>OR</span>
</div>

<form method="post" action="/accounts/google/login/?process=login">
    {% csrf_token %}
    <button type="submit" onclick="console.log('test')" class="googleLogin">
        <img src="{% static 'core/g-logo.png' %}" alt="">
        <span>Sign in with Google</span>
    </button>
</form>

<style>
    * {
      font-family: Roboto;
      font-weight: 300;
    }
</style>
{% endblock %}